In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("static/flipkart3.csv")

In [5]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_Names     368 non-null    object
 1   Original_price    368 non-null    object
 2   Discounted_price  368 non-null    object
 3   Description       368 non-null    object
 4   Ratings           368 non-null    float64
 5   Image_links       368 non-null    object
 6   URL               368 non-null    object
 7   Ram               368 non-null    object
 8   brand             368 non-null    object
 9   Color             368 non-null    object
dtypes: float64(1), object(9)
memory usage: 28.9+ KB

In [17]:
Org_price = []
for price in df['Discounted_price']:
    Org_price.append(int(price.replace(",","")))

print(Org_price)
df['Discounted_price'] = Org_price

[14999, 14999, 56999, 57999, 56999, 57999, 63999, 18499, 63999, 5999, 18499, 19499, 14999, 14999, 14999, 14999, 19499, 13999, 19499, 13999, 15999, 15999, 13999, 5499, 12490, 5999, 22999, 26999, 32999, 12490, 12490, 13999, 18499, 7799, 9999, 9999, 10999, 18999, 10999, 21655, 21888, 6499, 22999, 19553, 6699, 6699, 6699, 6799, 8299, 8299, 8299, 23999, 24999, 24999, 8499, 13999, 7499, 6799, 29999, 24999, 66999, 6499, 26999, 40999, 16999, 11999, 14699, 35999, 10499, 45999, 40999, 6299, 8999, 10199, 13076, 10999, 6371, 15780, 24999, 24999, 5999, 21904, 21999, 5799, 40999, 29999, 29999, 79900, 18999, 8999, 8657, 999, 16499, 45999, 9199, 40999, 45999, 27999, 7499, 699, 8499, 45999, 13999, 1075, 7499, 13999, 13999, 9999, 6799, 8485, 7648, 7623, 6740, 12499, 36999, 36999, 36999, 6780, 13882, 42999, 8499, 34999, 79900, 8349, 26999, 9199, 32999, 18999, 39999, 10999, 10249, 1150, 19918, 39999, 16713, 39999, 31999, 5799, 10199, 56999, 10448, 7499, 39999, 39999, 18999, 34999, 9999, 23999, 12999, 10990, 1461, 1140, 1299, 2171, 1390, 7410, 7562, 895, 1799, 34999, 8592, 49999, 17999, 975, 63999, 10199, 23999, 49999, 25999, 8999, 21999, 1349, 36999, 975, 2149, 30999, 39999, 17999, 950, 63999, 1927, 7699, 18999, 9489, 6676, 79900, 30800, 12187, 18999, 18999, 34999, 63999, 1429, 51999, 12241, 1180, 26999, 40999, 925, 89900, 17999, 7314, 5999, 8999, 144900, 8999, 8999, 11999, 947, 13999, 18499, 16999, 36999, 1299, 15499, 969, 4599, 1249, 616, 829, 1749, 12400, 30999, 897, 1699, 40999, 14435, 54999, 27770, 22999, 51999, 30589, 89900, 8499, 11499, 30999, 38999, 38999, 11999, 99900, 21999, 19197, 8499, 998, 9798, 32999, 99900, 1849, 54999, 1023, 2149, 9460, 58749, 13999, 13999, 11670, 7999, 38999, 1799, 15499, 1349, 89900, 2328, 18999, 897, 18999, 16999, 36530, 8235, 21999, 11499, 699, 33999, 11390, 9277, 13990, 40999, 15999, 9999, 9999, 1343, 1377, 1839, 749, 1198, 11964, 1485, 6174, 9999, 1199, 5635, 12999, 836, 1099, 7499, 1397, 11200, 1319, 1298, 1370, 1448, 89900, 1255, 12969, 2490, 1198, 30990, 79999, 15999, 9999, 27990, 1098, 18995, 969, 14490, 1848, 19999, 6249, 7055, 925, 975, 8690, 40999, 7485, 7885, 1098, 944, 1099, 13499, 6998, 22999, 12990, 35999, 9570, 11910, 1499, 1099, 11499, 1049, 20465, 7960, 11999, 179900, 899, 649, 3299, 16490, 1465, 11960, 12490, 1126, 1439, 1299, 13499, 25990, 729, 6250, 25999, 9999, 609, 99999, 99999, 7785, 9499, 119900, 14999, 649, 600]

In [19]:
df['Original_price']

0      23999
1      23999
2      69900
3      69900
4      69900
       ...
363    25999
364     1999
365    28999
366     1999
367    20999
Name: Original_price, Length: 368, dtype: int64

In [20]:
df["Discounted_price"]

0       14999
1       14999
2       56999
3       57999
4       56999
        ...
363      9499
364    119900
365     14999
366       649
367       600
Name: Discounted_price, Length: 368, dtype: int64

In [21]:
df["Dicount"] = df["Discounted_price"] - df["Original_price"]

In [23]:
df["Discounted_price"].count()

368

In [24]:
df["Original_price"].count()

368

In [ ]:
Discount = []
for i in range(0,368):
    discount = df["Original_price"][i] - df["Discounted_price"][i]
    Discount.append(discount)